body{
  height:100%;  
  background: url(../img/background.jpg) no-repeat center center fixed; /*put img in body so that it wnot slide with carousel */
  -webkit-background-size: cover; /*so img covers screen*/
  -moz-background-size: cover;/*so img covers screen*/
  -o-background-size: cover;/*so img covers screen*/
  background-size: cover;/*so img covers screen*/
  font-size: 220% !important;


}
.container-small {
    padding-left: 12vw;
    padding-right: 12vw;
}
.container-wide {
  padding-left: 50px;
  padding-right: 50px;
}
h1{
  font-size: 300% ;
  text-transform: uppercase;
}
h2{
    font-size: 200% !important;
    text-transform: uppercase;
}
h3{
    font-size: 175% !important;
    text-transform: uppercase;
}

h4{
    font-size: 160% !important;
    
}

.table td {
   text-align: center;   
}
.table th {
   text-align: center;   
}

.newBg{
	 background: url(../img/computer.jpg)no-repeat fixed;
  -webkit-background-size: cover; /*so img covers screen*/
  -moz-background-size: cover;/*so img covers screen*/
  -o-background-size: cover;/*so img covers screen*/
  background-size: cover;/*so img covers screen*/
}
.center{
  text-align: center;
}
.bg-light-gray {
    background-color: #F1F1F1;
}
.margin{
  margin-top:100px;
  margin-bottom:20px;
}
.section {
  margin: 2%;
  padding: 20px 0;
}
.bg-white{
  background-color: #fafafa;
}
.about {
  position: relative;
  text-align: center;
}

.introText {
  background-color: white;
  font-size:3vw;
}

/* ------------------ HERO UNIT ------------------ */
.hero-unit {
  position: relative;
  height: 100%;
}
.hero-unit.hero-light .hero-content .hero-text .hero-heading,
.hero-unit.hero-light .hero-content .hero-text p {
  color: #fff;
}
.hero-unit .hero-bg-pattern {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  background-image: url('../img/noise_lines_@2X.png?1342797527');
  background-repeat: repeat;
}
.hero-unit .hero-content {


}

.glyth{

  text-align: center;
  font-size: 30px;
  padding-top:60px;
  color:yellow;
}

.smallFont{
  font-size: 33px;
}

/**********************************************************************/
/* The sidebar menu */
.sidenav {
  
  width: 11%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10%; /* Stay at the top */
  left: 2%;
  background-color: #F1F1F1; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a, .sidenav p{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 70%;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #333;
}

/* Style page content */
.main {
  margin-left: 11%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}