body{
	height:100%;  
	background: url(../img/background.jpg) no-repeat center center fixed; /*put img in body so that it wnot slide with carousel */
  -webkit-background-size: cover; /*so img covers screen*/
  -moz-background-size: cover;/*so img covers screen*/
  -o-background-size: cover;/*so img covers screen*/
  background-size: cover;/*so img covers screen*/
  font-size: 220% !important;


}

hr{
    border: 1px solid #000;
}

h1{
	font-size: 300% !important;
	text-transform: uppercase;
}
h2{
    font-size: 200% !important;
    text-transform: uppercase;
}
h3{
    font-size: 175% !important;
    text-transform: uppercase;
}

h4{
    font-size: 160% !important;
    
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-light-red {
    background-color: #E27070
;
}
.startText {
	color: white;
	font-weight: bold;
}
.bg-dark-blue {
	background-color: #0000B2
;
}
.belowNav{
	padding-bottom: 100px;
}

.table td {
   text-align: center;   
}

/*
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
	
}

ul.navbar li {
    display: inline;
}*/
.container-wide {
	padding-left: 50px;
	padding-right: 50px;
}

.container-medium {
    padding-left: 17vw;
    padding-right: 17vw;
}

.container-small {
    padding-left: 12vw;
    padding-right: 12vw;
}

section {
    padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 0;
	padding-left: 0;

}

article {
	padding: 20px 30px;
}

.titleSection{
	padding: 25px 0;
	 background-color: #f7f7f7;
}

.smallContainer{
	margin-left:50px;
	margin-right:50px
}

header {
    text-align: center;
    color: white;
	
    background-attachment: scroll;
    background-image: url(../img/trading.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	vertical-align: middle;
    -o-background-size: cover;
}

.indexText{
text-align: center;
font-size:50px;
}

.textcenter{
text-align: center;

}

.rightAlign{
text-overflow: ellipsis;

}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

.sidebar{
  /*position fixed means it wont move when scrolling but you HAVE to specify top/right/left etc whenever position=fixed
  , if top =260 it means its 260px from top of screen no matter what
    thats why its fixed.
  */
    position:fixed;
    left:50px;
    top:260px;
}

.sidebar a{
    color:white;
    font-size:17px;
    
}




